@charset "utf-8";
/*
    Assignment 2
    
    Layout Design for a Website
    Author: Alexander Skitikov
    Student Number: T00743451

    Filename: style.css
   */

html,
body {
  margin: 0%;
  height: 100%;
  background-color: lightgray;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5vw;
}

header {
  text-align: center;
}

.navbar {
  text-align: center;
  background-color: darkgray;
  padding: 0%;
  margin: 0%;
}

.navbar ul {
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.navbar li {
  float: left;
}

.navbar a {
  padding: 15px;
  color: black;
  text-decoration: none;
  display: block;
}
.navbar a:hover {
  background-color: gray;
}

footer {
  text-align: center;
  padding: 0%;
  position: sticky;
  bottom: 0;
  width: 100%;
}
ul {
  text-align: left;
  list-style-position: inside;
}

.website {
  padding: 3%;
  background-color: lightgray;
  max-width: 100%;
  text-align: center;
}

#alex_onthebalcony,
#alex-workphoto {
  border-radius: 70%;
  border-style: groove;
  border-color: gray;
  box-shadow: 0 0 10 px rgb(36, 49, 46, 0.7);
  padding: auto;
  width: 20%;
  margin-bottom: 1em;
  float: right;
  margin: 0 auto;
}
