@charset "utf-8";
/*
    Assignment 2
    
    Layout Design for a Website
    Author: Alexander Skitikov
    Student Number: T00743451

    Filename: style.css
   */

html,
body {
  height: 100%;
  background-color: lightgray;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
}

header {
  text-align: center;
}

nav {
  margin: 10px 0;
  text-align: center;
  padding: 10px;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #ffffff;
  background-color: #333333f1;
  padding: 15px 20px;
  border-radius: 20px;
}

footer {
  text-align: center;
  padding: 10px;
  position: sticky;
  bottom: 0;
  width: 100%;
}
ul {
  text-align: left;
  list-style-position: inside;
}

.website {
  padding: 5px;
  background-color: lightgray;
  max-width: 100%;
  text-align: center;
}

#alex_onthebalcony,
#alex-workphoto {
  border-radius: 70%;
  border-style: groove;
  border-color: gray;
  box-shadow: 0 0 10 px rgb(36, 49, 46, 0.7);
  padding: 0.5em;
  width: 20%;
  margin-bottom: 1em;
  float: right;
  margin: 0 auto;
}
